<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add page</title>
    <link rel="stylesheet" href="\static\css\styles_admin.css">
</head>
<body id="bod">
    <div class="container">
    <div class="box1">
    <h1> VI dcn buddy</h1>
    </div>
<!-- box having main opts -->
    <div class="box-3">
    <div class="add_user">
    <form action="/add_user" method="POST"> 
        <input type="submit" name="add_user" value="Add User    " class="submit-button" id="add"> 
        {% if circle%}
        <input type="hidden" name="circle" value="{{circle}}">
        <input type="hidden" name="user" value="{{user}}">
        {%endif%}
    </form>
    </div>

    <div class="del_user">
    <form action="/del_user" method="POST"> 
        <input type="submit" name= "del_user" value="Delete User" class="submit-button" id="del"> 
        {% if circle%}
        <input type="hidden" name="circle" value="{{circle}}">
        <input type="hidden" name="user" value="{{user}}">
        {%endif%}
    </form>
    </div>

    <div class="return">
        <form action="/return_page" method="POST"> 
            <input type="submit" name= "return" value="Return" class="submit-button" id="ret"> 
            {% if circle%}
            <input type="hidden" name="circle" value="{{circle}}">
            <input type="hidden" name="user" value="{{user}}">
            {%endif%}
        </form>
        </div>
    </div>
<!-- box having all opts -->
    <div class="box2">
    <form method="post" action="/del_user">
        <div class="dcn_para">
            <div class="desc">
            <h2> User Details</h2>
            </div>
        <div class="textfields">
        <div class="tb">
            <label for="user_id" style="margin: 2px;">User ID</label>
            <input type="text" name="user_id" style="margin: 2px;">
        </div>
        </div>
        </div>
        <br>
        {% if circle is defined %}
        <input type="hidden" name="circle" value="{{ circle }}">
        <input type="hidden" name="user" value="{{ user }}">

        {% else %}
        <input type="hidden" name="circle" value="">
        {% endif %}

        <input type="submit" value="Delete Node" id="sd">
    </form>

    </div>
    </div>
<!-- 
    {%if confirmation%}
        {{confirmation}}
    {%endif%}

    {%if info%}
        {{info}}    
    {%endif%} -->

</body>
</html>